<p><%= t('.all_decks') %></p>

<table class="table">
  <tr>
    <th><%= t('.deck_name') %></th>
  </tr>
  <% @decks.each do |deck| %>
    <tr>
      <td><%= deck.name %></td>
    </tr>
  <% end %>
</table>
